sourceDir: ~/Documents/Development/chezmoi

data:
  git:
    {{- /*
      PCのホスト名に応じてgitのユーザー設定を切り替えます。
      `hostname` コマンドでご自身のPCのホスト名を確認し、
      "your-main-pc" の部分を書き換えてください。
      複数のPCを使い分ける場合は、`{{ else if eq .chezmoi.hostname "another-pc" }}` のように追記してください。
    */ -}}
    {{- if eq .chezmoi.hostname "your-main-pc" }}
    # "your-main-pc" では1Passwordから情報を取得
    name: {{ .onepassword.gitName }}
    email: {{ .onepassword.gitEmail }}
    {{- else }}
    # 上記以外のPCでは、対話形式で情報を入力
    name: {{ promptString "git.name" "Gitのユーザー名を入力してください" }}
    email: {{ promptString "git.email" "Gitのメールアドレスを入力してください" }}
    {{- end }}

secret:
  onepassword:
    gitName:
      vault: "Personal"
      item: "git"
      field: "name"
    gitEmail:
      vault: "Personal"
      item: "git"
      field: "email"
