sourceDir: ~/Documents/Development/chezmoi

data:
  git:
    name: {{ (onepasswordItemFields "GitHub" "a3v3t5sgyhbdhmum3fm7iydoj4").name.value }}
    email: {{ (onepasswordItemFields "GitHub" "a3v3t5sgyhbdhmum3fm7iydoj4").email.value }}
    signingKey: {{ onepasswordRead "op://a3v3t5sgyhbdhmum3fm7iydoj4/GitHub/public_key" }}
  machine:
    isPrivate: {{ promptBoolOnce . "machine.isPrivate" "このマシンはプライベート用ですか？ (y/n)" }}
    installBrewBundle: {{ promptBoolOnce . "machine.installBrewBundle" "Brewfileのパッケージをインストールしますか？ (y/n)" }}
