model = "gpt-5.5"
model_reasoning_effort = "medium"

[projects."{{ .chezmoi.homeDir }}/Documents/Development/chezmoi"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Documents/Job"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Documents/Development/telab"]
trust_level = "trusted"

[notice.model_migrations]
"gpt-5.1-codex-mini" = "gpt-5.4"

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."github@openai-curated"]
enabled = true

[plugins."notion@openai-curated"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

[plugins."claude-md-management@claude-plugins-official"]
enabled = true

[plugins."context7@claude-plugins-official"]
enabled = true

[plugins."discord@claude-plugins-official"]
enabled = true

[plugins."fakechat@claude-plugins-official"]
enabled = true

[plugins."frontend-design@claude-plugins-official"]
enabled = true

[plugins."skill-creator@claude-plugins-official"]
enabled = true

[plugins."superpowers@claude-plugins-official"]
enabled = true

[plugins."vercel@claude-plugins-official"]
enabled = true

[plugins."computer-use@openai-bundled"]
enabled = true

[plugins."google-calendar@openai-curated"]
enabled = true

[plugins."google-drive@openai-curated"]
enabled = true

[plugins."gmail@openai-curated"]
enabled = true

[plugins."openai-developers@openai-curated"]
enabled = true

[plugins."browser-use@openai-bundled"]
enabled = true

[plugins."chrome@openai-bundled"]
enabled = true

[shell_environment_policy]
inherit = "core"

[shell_environment_policy.set]
CLAUDE_BASH_MAINTAIN_PROJECT_WORKING_DIR = "1"
CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS = "1"
