model = "gpt-5.5"
model_reasoning_effort = "medium"
notify = ["{{ .chezmoi.homeDir }}/.codex/computer-use/Codex Computer Use.app/Contents/SharedSupport/SkyComputerUseClient.app/Contents/MacOS/SkyComputerUseClient", "turn-ended"]

{{ range .ai.projects -}}
[projects."{{ $.chezmoi.homeDir }}/{{ .path }}"]
trust_level = "{{ .trust }}"

{{ end -}}
[notice.model_migrations]
"gpt-5.1-codex-mini" = "gpt-5.4"

{{ range .ai.codex_plugins -}}
[plugins."{{ .id }}"]
enabled = {{ .enabled }}

{{ end -}}
[features]
memories = true

[shell_environment_policy]
inherit = "core"

[shell_environment_policy.set]
{{- range .ai.env }}
{{ .name }} = "{{ .value }}"
{{- end }}

[marketplaces.openai-bundled]
last_updated = "2026-07-16T07:48:52Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.codex/.tmp/bundled-marketplaces/openai-bundled"

[marketplaces.openai-primary-runtime]
last_updated = "2026-05-09T05:40:58Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.cache/codex-runtimes/codex-primary-runtime/plugins/openai-primary-runtime"

[tui.model_availability_nux]
"gpt-5.5" = 4

[desktop]
ambient-suggestions-enabled = false
conversationDetailMode = "STEPS_COMMANDS"
followUpQueueMode = "queue"
dock-icon-preference = "codex-system"
